body {
    background-color: #121212;
    color: #bb86fc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

form {
    width: 100%;
    margin-top: 300px;
}

label {
    display: block;
    width: 100%;
    padding: 1px;
    font-size: 14pt;
}

#message-box {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 4px;
    font-size: 20pt;
}

#keyboard {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#word-choices-container, #punctuation-container {
    display: flex;
}

button {
    flex: auto;
    background-color: #343434;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 14pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
}

button:active, button:focus {
    background-color: #bb86fc;
    color: black;
}
